.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
}
.form__field {
    min-height: 15rem;
    font-family: 'Source Code Pro', monospace;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    border-left: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    border-top: 2px solid #9b9b9b;
    outline: 0;
    font-size: 0.8rem;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-image 0.2s;
    margin-top: 0.5rem;
}
.form__field::placeholder {
    color: #74ffe1d4;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 0.8rem;
    cursor: text;
    top: 20px;
}
.form__label {
    font-family: 'Source Code Pro', monospace;
    position: absolute;
    top: 0;
    margin-bottom: 4rem;
    display: block;
    transition: all 0.1s ease-in;
    font-size: 0.8rem;
    color: #9b9b9b;
}
.form__field:focus  {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
    background: linear-gradient(87deg, #11998e26, #38ef7e26); ;
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    
}

.form__field:focus{
    font-weight: 300;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}


#auditorContent{
    margin-bottom: 25%;
}

.response-container{
    

    font-family: inherit;

    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    border-left: 2px solid #9b9b9b;
    border-right: 2px solid #9b9b9b;
    border-top: 2px solid #9b9b9b;
    outline: 0;
    
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: background 0.5s ease-in;
    transition: border-image 0.5s ease-in;
    
}

.response-container:hover{
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    background: linear-gradient(87deg, #11998e26, #38ef7e26); ;
    border-image-slice: 1;
    
}



.justified-text {
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    font-size: 0.9rem;
}

div #loading-container{
    display: none;
    justify-content: center;
    justify-items: center;
}
#loading-image{
    height: 15rem;
    width: 15rem;
}

.section-title{
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;

    background-image: linear-gradient(to top);
    background: linear-gradient(87deg, #11998e, #38ef7d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


.almightyGreen {
    width: 50rem;
    margin : auto;
    background-color: transparent;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-bottom: 2px solid #11998e;
    border-top: 2px solid #38ef7d;
    border-top-width: 8px;
    border-bottom-width: 8px;
    border-radius: 0.75rem;
    
    
}